[submodule "CanvasYoink"]
	path = CanvasYoink
	url = https://github.com/Akkuya/CanvasYoink.git
[submodule "QuantProjects/PuzzleSolver"]
	path = QuantProjects/PuzzleSolver
	url = https://github.com/Akkuya/PuzzleSolver.git
[submodule "papers-we-love"]
	path = papers-we-love
	url = https://github.com/papers-we-love/papers-we-love
[submodule "QuantProjects/PairsTradingBot"]
	path = QuantProjects/PairsTradingBot
	url = https://github.com/akkuya/PairsTradingBot
